{% extends "packing_lists/base.html" %}

{% block title %}{{ title }} - Packing Lists{% endblock %}

{% block page_header %}{{ title }}{% endblock %}

{% block content %}
    <div class="info-box">
        <p>You've uploaded a list with <strong>{{ num_items }} item(s)</strong>. Please provide a name for this list and select or create a school if applicable.</p>
    </div>

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <ul class="form-field-errors">
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% for field in form %}
            <p>
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text|safe }}</span>
                {% endif %}
                {% if field.errors %}
                    <ul class="form-field-errors">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </p>
        {% endfor %}
        <button type="submit" class="button success">Create Packing List</button>
        <a href="{% url 'upload_packing_list' %}" class="button secondary">Cancel and Upload Different File</a>
    </form>
{% endblock %}
